<div class="container">

  <div class="row">
    <div>
      <app-grade [grade]="1"></app-grade>
    </div>
    <div class="text">
      <p>Totalt oätligt, måste lämnas trots hunger.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="2"></app-grade>
    </div>
    <div class="text">
      <p>Kan inmundigas under visst lidande.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="3"></app-grade>
    </div>
    <div class="text">
      <p>Dåligt, bör undvikas om alternativ finns.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="4"></app-grade>
    </div>
    <div class="text">
      <p>Funkar, men lämnar inga positiva avtryck.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="5"></app-grade>
    </div>
    <div class="text">
      <p>Helt okej, utan att sticka ut åt något håll.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="6"></app-grade>
    </div>
    <div class="text">
      <p>Bra, visst inslag av högre rang.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="7"></app-grade>
    </div>
    <div class="text">
      <p>Genomgående hög kvalitet.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="8"></app-grade>
    </div>
    <div class="text">
      <p>Mycket svårslaget. Något utöver det vanliga.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="9"></app-grade>
    </div>
    <div class="text">
      <p>Enastående, inga svagheter.</p>
    </div>
  </div>

  <div class="row">
    <div>
      <app-grade [grade]="10"></app-grade>
    </div>
    <div class="text">
      <p>Fantastiskt, kan inte beskrivas, måste upplevas. Troligtvis inte mer än ett fåtal gånger under en livstid.</p>
    </div>
  </div>

</div>

